<mat-toolbar color="primary">
	<mat-icon>analytics</mat-icon>
	<span>Monitor</span>
	<a mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></a>
	<mat-menu #menu="matMenu">
		<button mat-menu-item (click)="fetch()"><mat-icon>restart_alt</mat-icon>Refresh</button>
		<mat-divider></mat-divider>
		<button mat-menu-item (click)="truck()"><mat-icon>local_shipping</mat-icon> Truck</button>
	</mat-menu>
</mat-toolbar>
<div style="height: 700px;" leaflet [leafletOptions]="mapOpts" [leafletLayers]="layers"></div>
<div class="mat-elevation-z8">
	<div style="position: absolute;" class="mat-paginator">
		<span style="padding: 0 10px;">Minimal Temperature:</span>
		<mat-form-field appearance="legacy" style="width:60px" (change)="setAlert($event.target)">
			<input matInput type="number" step="0.1" [value]="minTemp">
		</mat-form-field>
	</div>
	<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
	</mat-paginator>
	<table mat-table [dataSource]="dataSource" matSort matSortActive="dt" matSortDirection="desc" matSortDisableClear>
		<ng-container matColumnDef="dt">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
			<td mat-cell *matCellDef="let row"> {{row.dt | datetime}} </td>
		</ng-container>
		<ng-container matColumnDef="lat">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Latitude</th>
			<td mat-cell *matCellDef="let row">{{row.lat | fixed: 5}}</td>
		</ng-container>
		<ng-container matColumnDef="lng">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Longitude</th>
			<td mat-cell *matCellDef="let row">{{row.lng | fixed: 5}}</td>
		</ng-container>
		<ng-container matColumnDef="temp">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Temperature, °F</th>
			<td mat-cell *matCellDef="let row">{{row.temp | fixed: 2}}</td>
		</ng-container>
		<tr mat-header-row *matHeaderRowDef="colsToDisplay"></tr>
		<tr mat-row *matRowDef="let row; columns: colsToDisplay;" [ngClass]="{'alert':minTemp>row.temp}"></tr>
	</table>
</div>